bady {
  min-height: 100vh;
}
nav a {
  text-decoration: none;
  color: black;
} 
#search {
    background-color: white;
      color: black;
      border: 2px solid black;
      height: 50px;
}

header nav {
  padding: 0 3rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B0AEB6;
}

input#input {
  display: inline-block;
  border: 0 none;
}

#search {
  display: inline-block;
}

input#input:focus {
  border-bottom: 2px solid #5D7682;
  outline-offset: 0px;
  outline: none;
}

.search-container {
  display: inline-block;
  width: 40%;
  position: relative;
  margin: 1% 2% 1% 25%;
  z-index: 1;
}

.search-container input,
.search-container .suggestions {
  width: 80%;
  background: #fff;
  text-align: left;
}

.search-container input {
  background: rgba(255, 255, 255, 0.2);
  height: 60px;
  padding: 0 10px;
}

.search-container .suggestions {
  position: absolute;
  top: 60px;
}

ul {
  display: none;
  list-style-type: none;
  padding: 0;
  padding-left: 0 !important;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}

ul.has-suggestions {
  display: block;
}

ul li {
  padding: 10px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

ul li:hover {
  background-color: #B2CAD2;
}

input#input {
  border-bottom: 2px solid #5D7682;
}

#image-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
}

.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

img {
  object-fit: cover;
}
.flip-card {
  overflow: hidden;
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  padding-top: 80px;
  font-size: larger;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;

}
